/* stylelint-disable */

$wp-blocks-options: (
  framework: "none",

  content-max-width: 788px,

  breakpoint: (
    md: 576px,
    lg: 788px,
    xl: 920px,
  ),

  spacer: 0.75rem,

  fontsize: (
    md: 1rem,
    lg: 1.25rem,
    xl: 2rem,
  ),

  colors: (
    primary: map-get($theme-colors, primary),
    secondary: map-get($theme-colors, secondary),
    white: rgba(255, 255, 255, 1),
    black: rgba(0, 0, 0, 1),
  ),

  global-block-options: (
    wide-align: (
      width: 80%,
      max-width: 1400px,
      vertical-margin: 1.5rem,
    ),
  ),

  blocks: (
    // custom block wrap
    wp-block-wrap: (
      debug: true,
    ),

    // cover block
    wp-block-cover: (
      debug: true,
    ),

    // columns block
    wp-block-columns: (
      debug: true,
    ),

    // image block
    wp-block-image: (
      debug: true,
    ),

    // audio block
    wp-block-audio: (
      border-radius: 0,
      debug: true,
    ),

    // quote block
    wp-block-quote: (
      debug: true,
    ),

    // pullquote block
    wp-block-pullquote: (
      debug: true,
    ),

    // :not([class])
    h1: (
      debug: true,
    ),
    h2: (
      debug: true,
    ),
    h3: (
      debug: true,
    ),
    h4: (
      debug: true,
    ),
    h5: (
      debug: true,
    ),
    h6: (
      debug: true,
    ),
    p: (
      debug: true,
    ),

    // for global outline debugging
    wp-blocks: (
      debug: true,
    ),
  ),

  debug: (
    enabled: true,

    settings: (
      console: true, // output debug logs to console
      outlineEnabled:  false,  // shade elements & their boundaries
      outlineColor: hsla(0, 0%, 0%, 0.1), // outline base color
      gridEnabled: true, // grid overlay to assist alignments
      elementEnabled: true, // semantic colorized borders
    ),
  ),
);

/* stylelint-enable */
