> ol:not([class^="wp-block-"]),
> ol:not([class^="wp-block-"]) * {
  list-style-position: inside;
  list-style-type: lower-greek;
}

> ul:not([class^="wp-block-"]),
> ul:not([class^="wp-block-"]) * {
  list-style-position: inside;
  list-style-type: square;
}

> ol:not([class^="wp-block-"]) li,
> ol:not([class^="wp-block-"]) li *,
> ul:not([class^="wp-block-"]) li,
> ul:not([class^="wp-block-"]) li * {
  @include mv2;
  @include pl2;
}
